<template>
  <div class="hello">
    <p>HomePage</p>



    <div>

        <button @click="goerror();">go error page</button>

    </div>
  </div>
</template>

<script>
export default {
  name: 'HomePage',
  props: {
    msg: String
  },
  async beforeRouteUpdate(to, from) {
    // 对路由变化做出响应...
    // var userData = to.params.id;
    // debugger;
    var str = "from:"+from.fullPath+', to:'+to.fullPath+', parameters:'+to.params.id;
    console.log(str);
  },
  methods:{
    goerror(){//跳转错误页面
        this.$router.push('/error');
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
